.content {
    margin: 40px 0px 100px;
}

.title {
    margin-bottom: 40px;
    font-size: 2.0em;
}

.contentFeedback form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 55%;
}

.validButtonFeedback {
    display: flex;
    justify-content: flex-end;
}

.alertContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  animation: slideUpFade 0.8s ease-out;
}

.noResize textarea {
    width: 50%;
    resize: none;
}

.alertContainer :global(.fr-alert) {
    background-color: #ffffffb5;
}

.alertContainer :global(.fr-alert__title) {
    color: black;
}

@media (max-width: 850px) {
    .contentFeedback {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .content {
        margin: 40px 40px 100px;
    }
}