a {
  text-decoration: none;
}

.small-swal-popup {
    width: 300px !important;
    padding: 1rem !important;
    font-size: 0.9rem;
}

body:has(iframe):not(.no-iframe-style) {
  border: none;
  overflow: hidden;
}