.content {
    margin: 20px 0px 100px 0px;
    display: flex;
}

.asideContainer {
    width: 20%;
}

.mainDashboardContent {
    width: 80%;
    padding-top: 25px;
}

.title {
    margin: 0;
    font-size: 2.0em;
}

.breadcrumbContainer :global(.fr-breadcrumb) {
    margin-bottom: 10px;
}

.contentDashboard {
    margin-top: 40px;
}

@media (max-width: 900px) {
    .sectionDashboard {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .periodBlock {
        width: 100%;
    }

    .content {
        /* margin: 20px; */
        display: flex;
        flex-direction: column;
    }

    .asideContainer {
        width: 100%;
    }

    .mainDashboardContent {
        width: 100%;
        margin-top: 20px;
    }

}