.main {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.buttonContainerAccordion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.micAccordionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.buttonTestPage {
  text-align: center;
}

.mic {
  width: 40%;
  display: block;
  margin: 0px auto;
}

.cam {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 80%;
  margin: auto;
  gap: 10px;
}

.camera {
  width: 40%;
  margin: 0px auto;
}

.hidewebcam {
  display: none;
}

.micButton {
  /* margin-bottom: 5px; */
  /* display: block;
  margin: 20px auto;
  width: 20%; */
}

.confButton {
  /* margin-bottom: 5px; */
  display: block;
  margin: 20px auto;
  width: 30%;
}

.AccordionItemFaillure {
  background-color: rgb(196, 72, 72);
}

.AccordionItemSuccess {
  background-color: rgb(72, 196, 128);
}

.iframe {
  display: flex;
  flex-direction: column;
  margin: auto 20%;
}

@media only screen and (max-width: 600px) {
  .iframe {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
  }
}
