.open {
  top: 0px;
}

.iconButton {
    cursor: pointer;
    background: none;
    border: none;
}

.iconButtonContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.jitsiMeetContainer {
    position: relative;
    flex: 1;
}

@media (min-width: 992px) {

  /** override DSFR **/
  .headerContainer :global(.fr-header__body-row) {
      padding: 0.6rem 0 !important;
  }

  .headerContainer :global(.fr-header__brand-top) {
      padding: 0;
      width: 40px;
      height: 40px;
  }

  .headerContainer :global(.fr-header__brand-top > a),
  .headerContainer :global(.fr-header__brand-top > a > img) {
      object-fit: contain;
      width: 100%;
      height: 100%;
  }

  .headerContainer :global(.fr-header__brand > *) {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .headerContainer :global(.fr-header__brand) {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
  }

  .headerContainer :global(.fr-header__tools-links > .fr-btns-group) {
      margin: 0;
  }
}

@media (max-width: 991.98px) {
  .headerContainer :global(.fr-header__service) {
    display: none;
  }

  .headerContainer :global(.fr-header__brand-top > a > img) {
    max-height: 50px;
  }

  .headerContainer :global(.fr-header__brand-top) {
    padding: 0.3rem 1rem;
  }
}

@media (max-width: 1010px) {

  .open {
    top: 0px;
  }

  .iconButtonContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    transition: top 0.4s ease;
  }

  .openBtn {
    top: 155px;
  }
}