.headerContainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: -100px;
  transition: top 0.4s ease;
}

.open {
  top: 0px;
}

.iconButton {
    cursor: pointer;
    background: none;
    border: none;
}

.iconButtonContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.jitsiMeetContainer {
    position: relative;
    flex: 1;
}

@media (max-width: 1010px) {
  .headerContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    transition: top 0.4s ease;
    top: -155px;
  }

  .open {
    top: 0px;
  }

  .iconButtonContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    transition: top 0.4s ease;
  }

  .openBtn {
    top: 155px;
  }
}