.ratingContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.starsGroup {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.starStyle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}